<h1>Create a post!ª</h1>
<form action="/userProfile/create" method="POST">

  <label for="title-input">Title:</label>
  <input type="text" name="title" id="title-input" />

  <label for="description-input">Descrption:</label>
  <input type="text" name="descrption" id="description-input" />

  <label for="theme-input">Theme:</label>
  <input type="text" name="theme" id="theme-input" />

  <button type="submit">Log in</button>
</form>
<a href="/userProfile">Go Back!</a>