<h1>Edit your post</h1>
<form action="/userProfile/{{post._id}}/edit" method="POST">

  <label for="title-input">Title:</label>
  <input type="text" name="title" id="title-input" value="{{post.title}}" />

  <label for="description-input">Description:</label>
  <input type="text" name="description" id="description-input" value="{{post.description}}" />

  <label for="theme-input">Theme:</label>
  <input type="text" name="theme" id="theme-input" value="{{post.theme}}" />

  <button type="submit">update</button>
</form>