<h1>K·A·T·A·L·O·G</h1>

<div class="home-page">
<form action="/" method="POST">

  <input type="email" name="email" id="email-input" placeholder="Email" />

  <input type="password" name="password" id="password-input" placeholder="Password"/>

  <button class="btn" type="submit">Log in</button>
  {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>
<a  href="/sign-up">Sign up</a>
</div>
