<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KATALOG | Inspire Yourself</title>
    <link rel="stylesheet" href= "/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico" sizes="16x16" type="image/ico">
  </head>
  <body>
    <div class="container">
      <div class="body__logo-bar">
        <p>K · A · T · A · L · O · G</p>
      </div>
      {{{body}}}
      <!--{{#if user}}
      <nav class="nav">
        <a class="nav__link" href="/userProfile">
          <span class="material-icons nav__icon">home</span>
          <span class="nav__text">Home</span>
        </a>
        <a class="nav__link" href="/userProfile/edit">
          <span class="material-icons nav__icon">edit</span>
          <span class="nav__text">Edit profile</span>
        </a>
        <a class="nav__link" href="/userProfile/create">
          <span class="material-icons nav__icon">add</span>
          <span class="nav__text">Create post</span>
        </a>
        <a href="/logout" class="nav__link">
          <span class="material-icons nav__icon">logout</span>
          <span class="nav__text">Logout</button>
        </a>
      </nav>
      {{else}}
      <div class="main__info-links">
        <ul class="main__info-links-ul">
          <li class="main__info-links-li"><a class="main__info-links-a" href="#">About Us</a></li>
          <li class="main__info-links-li"><a class="main__info-links-a" href="#">What is KATALOG?</a></li>
          <li class="main__info-links-li"><a class="main__info-links-a" href="#">Privacy Policy</a></li>
        </ul>
      </div>
      {{/if}}-->
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>