<h1>K·A·T·A·L·O·G</h1>
<div>
<form action="/sign-up" method="POST">
    <label for="input-name">name:</label> 
    <input type="text" name="name" id="name-input" />
    
    <label for="input-email">Email:</label>
    <input type="email" name="email" id="email-input" />
    
    <label for="input-password">Password:</label>
    <input type="password" name="password" id="password-input" />

    <button type="submit">Sign up</button>
     {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>
<a href="/">Log in</a>
</div>


