<main class="main">
  <h1>K·A·T·A·L·O·G</h1>
  <h3>Inspire yourself</h3>
  <div class="main__home-div">
    <form class="main__home-div-form" action="/sign-up" method="POST">
        <input class="main__home-div-input" type="text" name="name" id="name-input" placeholder="Name" />
        
        <input class="main__home-div-input" type="email" name="email" id="email-input" placeholder="Email" />
        
        <input class="main__home-div-input" type="password" name="password" id="password-input" placeholder="Password" />

        <button class="btn btn__cta" type="submit">Sign up</button>
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
    <a class="main__home-div-a" href="/">Log in</a>
  </div>
</main>
<div class="main__info-links">
  <ul class="main__info-links-ul">
    <li class="main__info-links-li"><a class="main__info-links-a" href="#">About Us</a></li>
    <li class="main__info-links-li"><a class="main__info-links-a" href="#">What is KATALOG?</a></li>
    <li class="main__info-links-li"><a class="main__info-links-a" href="#">Privacy Policy</a></li>
  </ul>
</div>


