<p>My Posts</p>

{{#if user}}
  <h2>Welcome, {{ user.name }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/user-profile">Reload the page</a>
  </button>
{{else}}
  <p>Still not logged in, sorry!</p>
{{/if}}

<button type="button">Create Post</button>
