

<h1>Edit Profile Information</h1>
<form action="/userProfile/edit" method="POST">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" value="{{user.name}}" />

  <label for="email-input">Email:</label>
  <input type="email" name="email" id="email-input" value="{{user.email}}" />

  
  <button type="submit">update</button>
</form>
<a href="/userProfile">Go Back!</a>
