html {
      overflow: hidden;
      font-size: 16px;
    }
    a:visited { 
      outline: none; 
    }

    body {
      background-color: rgb(204,153,204);
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 55px 0;
    }

    .nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 55px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #FFF;
      display: flex;
      overflow-x: auto;
    }

    .nav__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      min-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      font-size: .81rem;
      color: gray;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in-out;
    }

  .nav__link:hover {
    background-color: lightgrey;
  }

  .nav__icon {
    font-size: 18px;
  }

    h1 {
      font-size: 2.1rem;
      letter-spacing: 6.15%;
     }
    .container {
      width:80%;
      
    }
    .home-page {
      background-color: white;
      border: 2px solid gray;
      border-radius: 10px;
      padding: 5px;
      height: 40%;
    
    }

    .home-page form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 10px;    
    }
    
    .home-page input {
      margin: 10px;
      width: 70%;
      border: 1px gray solid;
    }

    .home-page a {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 5px;
      text-decoration: none;
      font-size: 13px;
  }
  
  .btn{
    background-color: rgb(204,153,204);
    color: white;
    border-radius: 50px;
    padding: 10px 25px;
    border: none;
  }
   





