@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    html {
      overflow: hidden;
      font-size: 16px;
    }
    a:visited { 
      outline: none; 
    }

    body {
     overflow-y: hidden;
     overflow-x: hidden;
      background-color: rgb(204,153,204);
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    h1 {
      font-size: 2.1rem;
     }
    .container {
      width:80%;
    }
    .home-page {
      background-color: white;
      border: 2px solid gray;
      border-radius: 10px;
      padding: 5px;
      height: 40%;
    
    }

    .home-page form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 10px;    
    }
    
    .home-page input {
      margin: 10px;
      width: 70%;
      border: 1px gray solid;
    }

    .home-page a {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 5px;
      text-decoration: none;
      font-size: 13px;
  }
  
  .btn{
    background-color: rgb(204,153,204);
    color: white;
    border-radius: 50px;
    padding: 10px 25px;
    border: none;
  }

  } 
   





