/*GLOBAL CSS*/
html {
      /*overflow: hidden;*/
      font-size: 16px;
}

body {
  background-color: rgb(146,197,255);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 40px 0 55px 0;
}

.main {
  max-width: 80vw;
  margin: auto;
  padding-top: 20%;
}

h1 {
  font-size: 2.1rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

a:visited { 
  outline: none; 
}

.btn {
  background-color: darkgray;
  color: white;
  border-radius: 50px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
}

.btn__cta {
  background-color: rgb(146,197,255);
  color: white;
}

.body__logo-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

/*---------NAV BAR CSS---------*/

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: .81rem;
  color: gray;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: lightgrey;
}

.nav__icon {
  font-size: 18px;
}

/*INDEX & SIGN-UP CSS*/

.main__home-div {
  background-color: white;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
  height: 40%;
}

.main__home-div-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;    
}

.main__home-div-input {
  margin: 10px;
  width: 90%;
  border: 1px gray solid;
  height: 30px;
}

.main__home-div-a {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  text-decoration: none;
  font-size: 13px;
}

.main__home-div-a:visited { 
  outline: none; 
}

.main__info-links {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main__info-links-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.main__info-links-a {
  text-decoration: none;
  color: white;
}

.main__info-links-li {
  padding: 0px 10px;
}

/*userProfile CSS*/
.main__userProfile {
  max-width: 80vw;
  margin: auto;
  padding: 55px 0;
}

.main__userProfile-post-img {
  width: 75%;
  margin: 5px 0;
}

.main__userProfile-edit-post {
  text-decoration: none;
  color: black;
}

/*CSS EDIT POST/PROFILE PAGE*/

.main__form-div {
  background-color: white;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
  height: 40%;
}

.main__form-ul {
  list-style-type: none;
  padding: 0;
}

.main__form-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.main__form-btn {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.main__edit-delete {
  display: flex;
  justify-content: center;
  margin: 10px;
}



