<h1>K·A·T·A·L·O·G</h1>
<form action="/sign-up" method="POST">
    <label for="name-input">name:</label> 
    <input type="text" name="email" id="email-input" />
    
    <label for="email-input">Email:</label>
    <input type="text" name="email" id="email-input" />
    
    <label for="password-input">Password:</label>
    <input type="text" name="hashPassword" id="password-input" />

    <button type="submit">Sign up</button>
</form>
<a href="/">Log in</a>